{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Settings
{% endblock %}

{% block content %}

<main class="form-signin w-100 m-auto">

	  <div>
	    <style>
		    h5{
			  color: green;
		    }
	    </style>
	    {% for message in messages %}
	    <h5>{{message}}</h5>
	    {% endfor %}
	  </div>

<div class="container">
  <main>
    <div class="py-4 text-center">
      <h2>Settings</h2>
    </div>

    <div>
      <div>
        <h4 class="mb-3">{{ user.username }} properties</h4>
        <form method="post" action="{% url 'settings' %}" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Save changes</button>
        </form>
      </div>
      <br>
      <a href="{% url 'profilepage' %}" class="btn btn-lg btn-primary fw-bold border-blue bg-black">Go to Profile Page</a>
    </div>
  </main>

</div>
{% endblock %}